#first--box--about {
    align-items: center;
}


#second--box--about {
    align-items: center;
}

.about__h1 {
    font-weight: 600;
    font-size: 42px;

    color: #46E373;
}

.about__h3 {
    font-weight: 600;
    font-size: 24px;

    color: #46E373;

    margin-top: 16px;
    margin-bottom: 8px;
}

.about__p {
    font-size: 20px;
}

.tecnology--about__div {
    width: 15%;
}

.tecnology--about--image__div {
    width: 80px;
    height: 80px;
}

.tecnology--about--image__div > img {
    width: 100%;
    object-fit: cover;
}

.tecnology--about__div > p {
    font-size: 16px;
    text-align: center;
    margin-top: 8px;
}

#third--box--about {
    align-items: center;
}

.about__button {
    padding: 16px 16px;
    font-size: 20px;

    background-color: transparent;
    color: #46E373;

    border-radius: 32px;
    border: 2px solid #46E373;

    margin: 0px 8px;

    transition: 0.5s;
}

.about__button:hover {
    color: white;
    background-color: #46E373;

    cursor: pointer;
}
