#first--box--contact {
    align-self: center;

    margin-top: 128px;
    margin-bottom: 128px;
}

.contact__h1 {
    font-size: 42px;
    font-weight: 600;

    color: #46E373;
}

.contact__p {
    font-size: 20px;
    margin: 8px;
}

.contact__input {
    padding: 12px 24px;
    font-size: 20px;
    border: 1px solid;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

    margin-top: 8px;
}

.contact--invalid__input__textarea {
    border: 1px solid rgb(253, 66, 66);
}

.contact__textarea {
    padding: 12px 24px;
    font-size: 20px;

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

    height: 128px;

    margin-top: 8px;
}

.invalid__span {
    color: rgb(253, 66, 66);
    font-size: 16px;
    margin-left: 0;
    margin-top: 4px;
    margin-bottom: 8px;
}

.contact__button {
    padding: 12px 24px;
    margin-top: 8px;

    background-color: transparent;
    color: #46E373;

    border-radius: 32px;
    border: 2px solid #46E373;
    font-size: 20px;

    transition: 0.3s ease;
}

.contact__button:hover {
    cursor: pointer;

    background-color: #46E373;
    color: white;
}

.contact--2__button {
    padding: 20px;
    margin: 8px;

    border-radius: 42px;
    border: 2px solid #46E373;
    font-size: 24px;

    background-color: transparent;
    color: #46E373;

    transition: 0.3s ease;
}

.contact--2__button:hover {
    cursor: pointer;

    background-color: #46E373;
    color: white;
}
