:root {
  --color-bg1: rgb(70, 227, 115);
  --color-bg2: rgb(237, 221, 83);
  --color1: 227, 70, 70;
  --color2: 252, 176, 69;
  --color3: 142, 91, 91;
  --color4: 70, 183, 227;
  --color5: 57, 47, 47;
  --circle-size: 80%;
  --blending: hard-light;
}

#first--box--home {
  background: #46E373;
  background: linear-gradient(45deg, rgba(70, 227, 115, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);

  z-index: 0;
}

#g1 {
  position: absolute;
  background: linear-gradient(40deg, rgb(var(--color1)), rgb(var(--color2)));
  mix-blend-mode: var(--blending);

  width: var(--circle-size);
  height: var(--circle-size);
  border-radius: 50%;

  opacity: 1;

  z-index: 1;
}

.circle1 {
  position: absolute;
  background: #E34646;
  background: linear-gradient(40deg, rgba(227, 70, 70, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);

  width: 200px;
  height: 200px;
  border-radius: 50%;

  top: calc(50%);
  left: calc(50% + 200px);

  animation-name: movementCircle1;
  animation-duration: 120s;
  animation-iteration-count: infinite;

  opacity: 0.7;

  z-index: 1;
}

.circle2 {
  position: absolute;
  background: linear-gradient(40deg, rgb(var(--color3)), rgb(var(--color2)));

  width: 150px;
  height: 150px;
  border-radius: 50%;

  top: calc(50%);
  left: calc(50% );

  animation-name: movementCircle2;
  animation-duration: 120s;
  animation-iteration-count: infinite;

  opacity: 0.8;

  z-index: 1;
}

.circle3 {
  position: absolute;
  background: #392F2F;
  background: linear-gradient(40deg, rgba(57, 47, 47, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);

  width: 130px;
  height: 130px;
  border-radius: 50%;

  top: calc(50%);
  left: calc(50% );

  animation-name: movementCircle3;
  animation-duration: 120s;
  animation-iteration-count: infinite;

  opacity: 0.7;

  z-index: 1;
}


@keyframes movementCircle1 {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: calc(100% - 210px);
    top: calc(100% - 210px);
  }
  50% {
    right: calc(50% - 180x);
    top: 0px;
  }
  75% {
    left: 0px;
    top: calc(100% - 210px);
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@keyframes movementCircle2 {
  0% {
    left: calc(100% - 160px);
    top: calc(100% - 160px);
  }
  25% {
    left: 10px;
    top: calc(100% - 160px);
  }
  50% {
    left: calc(100% - 160px);
    top: 10px;
  }
  75% {
    left: calc(50% - 180px);
    top: calc(50% + 10px);
  }
  100% {
    left: calc(100% - 160px);
    top: calc(100% - 160px);
  }
}

@keyframes movementCircle3 {
  0% {
    left: 10px;
    top: calc(100% - 140px);
  }
  25% {
    left: calc(100% - 140px);
    top: 10px;
  }
  50% {
    right: calc(50% + 160px);
    top: calc(100% - 140px);
  }
  75% {
    left: calc(50% - 180px);
    top: calc(50% + 10px);
  }
  100% {
    left: 10px;
    top: calc(100% - 140px);
  }
}

#first--box__h1 {
  font-size: 48px;

  color: white;
  margin-bottom: 8px;

  z-index: 2;
}

#first--box__p {
  color: white;
  margin-bottom: 16px;

  z-index: 2;
}

.home__button {
  padding: 12px 24px;
  font-size: 16px;
  border: 2px solid white;
  border-radius: 32px;
  background-color: transparent;
  font-weight: 600;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: white;
  transition: 0.3s ease;
  margin-right: 16px;

  z-index: 2;
}

.home__button:hover {
  cursor: pointer;
  border: 2px solid transparent;
  background-color: white;
  color: #46E373;

  z-index: 2;
}


